@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 500px;
  border-radius: 20px;
  background: #6780c9;
  overflow: hidden;
  padding: 14px;
  position: relative;

  margin: 1rem 0;
  header {
    &.user {
      display: flex;
      gap: 12px;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .user-info {
      &-name {
        letter-spacing: 0.4px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
      }

      &-time {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.588);
      }
    }
  }

  main p {
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
    line-height: 1.7;
  }

  section {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .users-avatars {
      margin-right: 21px;
      display: flex;
      align-items: center;

      img {
        height: 32px;
        width: 32px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #191a1d;
        margin-right: -21px;
      }
    }

    p {
      color: rgba(255, 255, 255, 0.508);
      font-size: 12px;
      margin-left: 10px;
    }

    p.comment {
      margin-left: auto;
    }
  }
}
